<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tesji.proyectohospital">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoHospital"
        tools:targetApi="31">
        <activity
            android:name=".ActualizarRegistros"
            android:exported="false" />
        <activity
            android:name=".RegistroEnfer"
            android:exported="false" />
        <activity
            android:name=".RegistrarRegistros"
            android:exported="false" />
        <activity
            android:name=".VerRegistros"
            android:exported="false" />
        <activity
            android:name=".actualizarEnfe"
            android:exported="false" />
        <activity
            android:name=".VerEnfermedades"
            android:exported="false" />
        <activity
            android:name=".VerPacientes"
            android:exported="false" />
        <activity
            android:name=".Actualizar"
            android:exported="false" />
        <activity
            android:name=".Alta"
            android:exported="false" />
        <activity
            android:name=".Registro"
            android:exported="false" />
        <activity
            android:name=".Enfermedad"
            android:exported="false" />
        <activity
            android:name=".Pacientes"
            android:exported="false" />
        <activity
            android:name=".Inicio"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>